DATABASE_URL=postgresql://tabo:tabo123456@postgres:6501/tabo
BETTER_AUTH_SECRET=(generate a secret from https://better-auth.com/docs/installation)
GOOGLE_CLIENT_ID=abc
GOOGLE_CLIENT_SECRET=abc
BETTER_AUTH_URL=http://localhost:3000
S3_BUCKET_NAME=tabo
S3_ENDPOINT=http://localhost:6502
S3_ACCESS_KEY_ID=rustfsadmin
S3_SECRET_ACCESS_KEY=rustfsadmin
S3_REGION=us-east-1